h1{
    color: bisque;background-color: black; text-align: center;
}
p{
    color: bisque;background-color: black;text-align: center;
}
h2{
    color: darkred;background-color: black; text-align: center;
}
h3{
    color: burlywood;background-color: black;text-align: center;
}
h4{
    color: chartreuse; background-color: bisque;text-align: center;
}
#a1{
    color: black;background-color: aqua;
}